.main-obj{
    padding: 170px 0;
    color: rgba(243, 242, 240, 1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.main-obj::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(67, 67, 67, .5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-obj .container{
    position: relative;
    z-index: 2;
}
.breadcrumbs{
    margin-bottom: 24px;
    color   : rgba(206, 206, 206, 1);
}
.main-obj p{
    opacity: 1;
    margin-bottom: 24px;
}
.main-obj h2{
    max-width: 629px;
    margin-bottom: 50px;
}
.main-obj h2 b{
    display: block;
}
svg{
    flex-shrink: 0;
}
.main-obj .price{
    display: block;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    color: rgba(239, 217, 132, 1);
}

.object-card .metro span{
    color: rgba(206, 206, 206, 1);
}
@media (max-width:750px) {
    .main-obj{
        padding: 70px 0 80px;
    }
    .breadcrumbs{
        font-size: 12px;
        margin-bottom: 20px;
    }
    .main-obj h2{
        margin-bottom: 36px;
    }
    .main-obj .metro{
        font-size: 16px;
    }
    .price{
        font-size: 36px;
        margin-top: 36px;
    }


}